<app-access-container>
  <mat-card fxFlexAlign="center" class="register-card">
    <mat-card-title> Registration </mat-card-title>
    <mat-card-content>
      <form [formGroup]="form">
        <div fxLayout fxLayoutGap="10px">
          <!--First name-->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{ 'name.firstName' | translate }}</mat-label>
            <input formControlName="firstName" matInput />
            <mat-error *ngIf="form.get('firstName')?.hasError('required')">
              {{ 'error.required' | translate }}
            </mat-error>
          </mat-form-field>
          <!--Last Name-->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{ 'name.lastName' | translate }}</mat-label>
            <input formControlName="lastName" matInput />
            <mat-error *ngIf="form.get('lastName')?.hasError('required')">
              {{ 'error.required' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div
          fxLayout
          fxLayoutGap="10px"
          *ngIf="!this.ssoProfileId"
          class="credentials-row"
        >
          <!--Username -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{ 'name.username' | translate }}</mat-label>
            <input formControlName="username" matInput />
            <mat-error *ngIf="form.get('username')?.hasError('required')">
              {{ 'error.required' | translate }}
            </mat-error>
            <mat-error *ngIf="form.get('username')?.hasError('pattern')">
              {{ 'error.usernamePattern' | translate }}
            </mat-error>
          </mat-form-field>
          <ng-container formGroupName="passwords">
            <!--Password-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ 'name.password' | translate }}</mat-label>
              <input type="password" formControlName="password" matInput />
              <mat-error
                *ngIf="
                  form.get('passwords')?.get('password')?.hasError('required')
                "
              >
                {{ 'error.required' | translate }}
              </mat-error>
              <mat-error
                *ngIf="
                  form.get('passwords')?.get('password')?.hasError('pattern')
                "
              >
                {{ 'error.passwordPattern' | translate }}
              </mat-error>
            </mat-form-field>
            <!--Repeat password-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ 'name.confirmPassword' | translate }}</mat-label>
              <input
                type="password"
                formControlName="repeatPassword"
                [errorStateMatcher]="customMatcher"
                matInput
              />
              <mat-error
                *ngIf="
                  form
                    .get('passwords')
                    ?.get('repeatPassword')
                    ?.hasError('required')
                "
              >
                {{ 'error.required' | translate }}
              </mat-error>
              <mat-error
                *ngIf="form.get('passwords')?.hasError('matchPassword')"
              >
                {{ 'error.passwordMismatch' | translate }}
              </mat-error>
            </mat-form-field>
          </ng-container>
        </div>
        <div fxLayout fxLayoutGap="10px" class="mb-20">
          <!--Birthdate-->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ 'name.birthdate' | translate }}</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="birthDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.get('birthDate')?.hasError('required')">
              {{ 'error.required' | translate }}
            </mat-error>
            <mat-hint class="hint-text">{{
              'note.birthdayHint' | translate
            }}</mat-hint>
          </mat-form-field>
          <!--Experience-->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label> {{ 'name.experience' | translate }} </mat-label>
            <input
              type="number"
              min="0"
              formControlName="experience"
              matInput
            />
            <mat-error *ngIf="form.controls.experience.hasError('required')">
              {{ 'error.required' | translate }}
            </mat-error>
            <mat-hint class="hint-text">{{
              'note.experienceHint' | translate
            }}</mat-hint>
          </mat-form-field>
          <!--Gender-->
          <!--          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{'name.gender' | translate}}</mat-label>
            <mat-select formControlName="gender" >
              <mat-option [value]="GenderEnum.Male">
                {{GenderEnum.Male}}
              </mat-option>
              <mat-option [value]="GenderEnum.Female">
                {{GenderEnum.Female}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('gender').hasError('required')">
              {{ 'error.required' | translate }}
            </mat-error>
          </mat-form-field>-->
        </div>
        <div fxLayout fxLayoutGap="10px" class="mb-20">
          <!--Roles-->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ 'name.roles' | translate }}</mat-label>
            <mat-select formControlName="roles" multiple>
              <mat-option [value]="RolesEnum.Developer">
                {{ 'role.' + RolesEnum.Developer | translate }}
              </mat-option>
              <mat-option [value]="RolesEnum.Crowdworker">
                {{ 'role.' + RolesEnum.Crowdworker | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('roles')?.hasError('required')">
              {{ 'error.required' | translate }}
            </mat-error>
            <mat-hint class="hint-text">{{
              'note.rolesHint' | translate
            }}</mat-hint>
          </mat-form-field>
          <!-- Country -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{ 'name.country' | translate }}</mat-label>
            <input
              type="text"
              placeholder="Select one"
              matInput
              formControlName="country"
              [matAutocomplete]="autoCountry"
            />
            <mat-autocomplete
              #autoCountry="matAutocomplete"
              [displayWith]="displayFn"
            >
              <mat-option
                *ngFor="let option of filteredCountries | async"
                [value]="option"
              >
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="form.controls.country.hasError('required')">
              {{ 'error.required' | translate }}
            </mat-error>
            <mat-hint class="hint-text">{{
              'note.countryHint' | translate
            }}</mat-hint>
          </mat-form-field>
        </div>
        <div fxLayout fxLayoutGap="10px">
          <!--Skills-->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{ 'name.skills' | translate }} *</mat-label>
            <mat-chip-list #chipList formControlName="skills">
              <mat-chip
                *ngFor="let skill of selectedSkills"
                (removed)="remove(skill)"
              >
                {{ skill.name }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input
                placeholder="New Skill..."
                #skillsInput
                formControlName="skills"
                [matAutocomplete]="autoSkill"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addSkill($event)"
              />
            </mat-chip-list>
            <mat-autocomplete
              #autoSkill="matAutocomplete"
              (optionSelected)="selectedSkill($event)"
              [displayWith]="displayFn"
            >
              <mat-option
                *ngFor="let skill of filteredSkills | async"
                [value]="skill"
              >
                {{ skill.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="skillsControl.hasError('required')">
              {{ 'error.required' | translate }}
            </mat-error>
            <mat-hint class="hint-text">{{
              'note.skillsHint' | translate
            }}</mat-hint>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <!--Register button-->
      <button
        mat-raised-button
        color="black"
        (click)="register()"
        class="float-right"
      >
        Register
      </button>
    </mat-card-actions>
  </mat-card>
</app-access-container>
