<mat-card>
  <mat-card-title>{{ 'name.questionnaire' | translate }}</mat-card-title>
  <mat-card-content>
    <!--Textual description 1-->
    <p class="text-note">
      {{ 'note.questionnaire' | translate }}
    </p>
    <a
      mat-button
      color="primary"
      (click)="openEditDialog()"
      *ngIf="(task | async)?.status === TaskStatusEnum.Draft"
      >{{ 'action.editQuestionnaire' | translate }}</a
    >

    <app-questionnaire-detail [readonly]="true" [task]="task">
    </app-questionnaire-detail>
  </mat-card-content>
</mat-card>
