<mat-toolbar color="primary" class="mat-elevation-z6" fxLayout fxLayoutGap="16px">
    <button mat-icon-button (click)="onToggleSideNav()">
        <mat-icon>menu</mat-icon>
    </button>

    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <!--Roles-->
        <ng-container *ngIf="user | async as user">
            <div fxLayout fxLayoutAlign="start center"
                 fxLayoutGap="10px"
                 *ngIf="user.roles.includes(RolesEnum.Admin)">
                <mat-icon>admin_panel_settings</mat-icon><span>Administrator</span></div>
            <div fxLayout fxLayoutAlign="start center"
                 fxLayoutGap="10px"
                 *ngIf="user.roles.includes(RolesEnum.Developer)">
                <mat-icon>app_settings_alt</mat-icon><span>Developer</span></div>
            <div fxLayout fxLayoutAlign="start center"
                 fxLayoutGap="10px"
                 *ngIf="user.roles.includes(RolesEnum.Crowdworker)">
                <mat-icon>note_alt</mat-icon><span>Crowdworker</span></div>
        </ng-container>
        <!--<mat-select
            *ngIf="user | async as user"
            [formControl]="roleControl"
            (selectionChange)="setRole($event.value)"
            class="role-select"
        >
            <mat-select-trigger>
                {{ 'roles.'+roleControl.value | translate  }}
            </mat-select-trigger>
            <mat-option *ngFor="let role of user.roles" [value]="role">

                {{ 'roles.'+role | translate}}

            </mat-option>
        </mat-select>-->
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <!--Full name-->
        <div class="full-name" *ngIf="user | async as user">
            {{ user.firstName + ' ' + user.lastName }}
        </div>

        <!--User account button-->
        <button
            mat-icon-button
            [matMenuTriggerFor]="userMenu"
            class="mat-elevation-z1"
        >
            <ngx-avatars
                *ngIf="(user | async) as user"
                size="40"
                [name]="user.firstName + ' ' + user.lastName"
            ></ngx-avatars>
        </button>
        <mat-menu #userMenu="matMenu" class="">
            <button mat-menu-item (click)="onLogout()">
                <mat-icon> exit_to_app </mat-icon>
                <span>
            logout
          </span>
            </button>
        </mat-menu>
    </div>

</mat-toolbar>
