<div>Here you can visualize feedback graphically.</div>
<p>
  To see feedback visualization for a different iteration, please change the
  iteration from the dropdown.
</p>
<div *ngFor="let qStats of questionStats">
  <ng-container [ngSwitch]="qStats.question.type">
    <div *ngSwitchCase="QuestionTypeEnum.ThumbsRating" class="mb-30">
      <app-thumbs-rating-visualization
        [question]="qStats.question"
        [thumbsUpCount]="qStats.stats[0].thumbsUpCount"
        [thumbsDownCount]="qStats.stats[0].thumbsDownCount"
      >
      </app-thumbs-rating-visualization>
    </div>
    <div *ngSwitchCase="QuestionTypeEnum.Radio" class="mb-30">
      <app-radio-feedback-visualization [questionStats]="qStats">
      </app-radio-feedback-visualization>
    </div>
    <div *ngSwitchCase="QuestionTypeEnum.StarRating" class="mb-30">
      <app-star-rating-visualization [questionStats]="qStats">
      </app-star-rating-visualization>
    </div>
  </ng-container>
</div>
