<mat-sidenav-container class="second-sidenav-container">
  <mat-sidenav
    [disableClose]="true"
    class="second-sidenav"
    mode="side"
    opened="true"
    position="start"
  >
    <!-- Task iterations dropdown -->
    <mat-select
      [formControl]="taskControl"
      class="task-iterations-select"
      placeholder="Task Iterations"
    >
      <mat-select-trigger>{{
        'Iteration ' + (tasks.length - tasks.indexOf(taskControl.value))
      }}</mat-select-trigger>
      <mat-option
        [value]="task"
        *ngFor="let task of tasks; let i = index"
        class="dir-revision-select-item"
      >
        {{ 'Iteration ' + (tasks.length - i) }}
      </mat-option>
    </mat-select>
    <!--Overview-->
    <div
      class="second-sidenav-options clickable"
      (click)="openView('overview')"
      [ngClass]="{
        'second-sidenav__selected': currentView === 'overview'
      }"
    >
      <mat-icon class="second-sidenav-icon"> account_tree </mat-icon>

      <span>{{ 'action.overview' | translate }}</span>
    </div>

    <!--Sample Prototypes-->
    <div
      class="second-sidenav-options clickable mt-15"
      (click)="openView('sample')"
      [ngClass]="{
        'second-sidenav__selected': currentView === 'sample'
      }"
    >
      <mat-icon class="second-sidenav-icon"> account_tree </mat-icon>

      <span>{{ 'action.samplePrototypes' | translate }}</span>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="page-content">
    <!--Header content-->
    <div fxLayout fxLayoutAlign="end center" class="mb-20" fxLayoutGap="10px">
      <h2 class="text-note inline-heading project-name margin-right-auto">
        {{ project?.title }}
      </h2>
      <!--Edit button-->
      <button
        mat-raised-button
        color="black"
        *ngIf="(task | async)?.status === StatusEnum.Draft"
        (click)="openTaskForm(true)"
      >
        {{ 'action.edit' | translate }}
      </button>
      <!--Start new iteration-->
      <button
        *ngIf="tasks[0]?.status === StatusEnum.Closed || ((task | async) === undefined && tasks.length === 0)"
        mat-raised-button
        color="black"
        (click)="openTaskForm()"
      >
        Start New Iteration
      </button>
      <!--close button-->
      <button mat-button (click)="routeToProjects()">
        {{ 'action.cancel' | translate }}
      </button>
      <!-- Additional options -->
      <button mat-icon-button [mat-menu-trigger-for]="additionalOptions">
        <mat-icon>more_vert</mat-icon>
      </button>
      <!--Menu-->
      <!-- Menu -->
      <mat-menu #additionalOptions="matMenu">
        <button
          mat-menu-item
          *ngIf="(task | async)?.status === StatusEnum.Draft"
          (click)="(taskControl.value.id)"
        >
          <span>
            {{ 'action.delete' | translate }}
          </span>
        </button>
      </mat-menu>
    </div>
    <ng-container [ngSwitch]="currentView">
      <!--Overview-->
      <ng-container *ngSwitchCase="'overview'">
        <span
          class="margin-right-auto"
          *ngIf="tasks[0]?.status === StatusEnum.Closed || tasks.length === 0"
          >You can create new task from
          <em>Start New Iteration</em> button.</span
        >
        <!--Task detail component-->
        <app-task-detail
          class="full-width"
          *ngIf="task | async as t"
          [task]="t"
        ></app-task-detail>

        <div class="mt-30">
          <!--Image Prototype-->
          <app-image-prototype
            *ngIf="
              (task | async)?.prototypeFormat === PrototypeFormatEnum.Image
            "
            [task]="task"
          >
          </app-image-prototype>
          <!--Iframe Prototype-->
          <app-iframe-prototype
            *ngIf="
              (task | async)?.prototypeFormat === PrototypeFormatEnum.Iframe
            "
            [task]="task"
          >
          </app-iframe-prototype>
          <!--Text Prototype-->
          <app-text-prototype
            *ngIf="(task | async)?.prototypeFormat === PrototypeFormatEnum.Text"
            [task]="task"
          >
          </app-text-prototype>
        </div>
      </ng-container>
      <!--Sample Prototypes-->
      <ng-container *ngSwitchCase="'sample'">
        <app-sample-prototype></app-sample-prototype>
      </ng-container>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
