<h2 mat-dialog-title>Create Project</h2>
<mat-dialog-content class="mat-typography">
  <h3>Start a new Project now and create prototypes in it later.</h3>

  <form [formGroup]="form">
    <!--<div fxLayout fxLayoutGap="10px">-->
      <!--Title-->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput>
        <mat-error *ngIf="form.controls.title.hasError('required')">
          {{ 'error.required' | translate }}
        </mat-error>
      </mat-form-field>
      <!--Description -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput>
          </textarea>
      </mat-form-field>
    <!--</div>-->
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-dialog-close mat-button>Cancel</button>
  <button mat-button color="black" (click)="saveProject()">Save</button>
</mat-dialog-actions>