<mat-card>
  <mat-card-title>{{ 'name.text' | translate }}</mat-card-title>
  <mat-card-subtitle *ngIf="(task | async)?.testType === TestTypeEnum.Split">
    {{ 'name.prototype1' | translate }}
  </mat-card-subtitle>
  <mat-card-content>
    <!--Textual description 1-->
    <p class="text-note">
      <ng-container
          *ngIf="
        (task | async)?.testType === TestTypeEnum.Basic;
        else splitTextNote
      "
      >
        {{ 'note.basicTextAdd' | translate }}
      </ng-container>
      <ng-template #splitTextNote>
        {{ 'note.splitText1' | translate }}
      </ng-template>
    </p>
    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start">
      <a mat-button color="primary" (click)="openEditDialog(1)" >{{ 'action.editText' | translate }}</a>
      <ng-container
          *ngTemplateOutlet="textViewer; context: { data: { textualDescription: (task | async)?.textualDescription1 } }"
      ></ng-container>
    </div>

    <!--Prototype 2-->
    <ng-container *ngIf="(task | async)?.testType === TestTypeEnum.Split">
      <mat-divider inset></mat-divider>
      <mat-card-title class="mt-15">{{
        'name.text' | translate
        }}</mat-card-title>
      <mat-card-subtitle>{{ 'name.prototype2' | translate }}</mat-card-subtitle>

      <p class="text-note">{{ 'note.splitText2' | translate }}</p>

      <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start">
        <a mat-button color="primary" (click)="openEditDialog(2)" >{{ 'action.editText' | translate }}</a>
        <ng-container
            *ngTemplateOutlet="textViewer; context: { data: { textualDescription: (task | async )?.textualDescription2 }}"
        ></ng-container>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>

<!-- Image uploader and Viewer-->
<ng-template #textViewer let-data="data">
  <!--Text-->
  <p>{{data.textualDescription}}</p>
</ng-template>
