<div class="page-content">
  <div>Here you can see all feedbacks that you provided.</div>
  <div [hidden]="dataSource?.data?.length < 1">
    <!--Tasks table-->
    <h2>Feedbacks</h2>
    <p>
      To see the detailed feedback please click on it or open it from
      <em>Options</em> column in the table.
    </p>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <!-- Task Column -->
      <ng-container matColumnDef="task">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'name.task' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.task?.title }}</td>
      </ng-container>

      <!-- Prototype format Column -->
      <ng-container matColumnDef="prototypeFormat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'name.prototypeFormat' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ 'name.' + element.task?.prototypeFormat | translate }}
        </td>
      </ng-container>

      <!-- Comment Column -->
      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'name.additionalComment' | translate }}
        </th>
        <td
          mat-cell
          [matTooltip]="element.comment"
          [matTooltipPosition]="'before'"
          *matCellDef="let element"
          class="comment-column"
        >
          <span>
            {{ element.comment }}
          </span>
        </td>
      </ng-container>

      <!-- Creation date Column -->
      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'name.dateCreated' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.dateCreated | date: 'dd.MM.y HH:mm:ss' }}
        </td>
      </ng-container>

      <!-- Payment Status -->
      <ng-container matColumnDef="paymentStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'name.paymentStatus' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ 'paymentStatus.' + element.paymentStatus | translate }}
        </td>
      </ng-container>
      <!--Incentive-->
      <ng-container matColumnDef="incentive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'name.incentiveAmount' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.paymentStatus === PaymentStatus.Completed" >
            {{ element.task?.incentive | currency: 'EUR' }}
          </ng-container>
        </td>
      </ng-container>
      <!-- Rating -->
      <ng-container matColumnDef="feedbackRating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'name.feedbackRating' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.feedbackRating }}
        </td>
      </ng-container>
      <!-- User Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'name.taskOwner' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="userMap[element.task?.userId]">
            {{ userMap[element.task.userId]?.firstName + ' ' + userMap[element.task.userId]?.lastName }}
          </ng-container>
        </td>
      </ng-container>
      <!-- Options Column -->
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef>
          <span class="float-right">Options</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <button
            class="float-right"
            (click)="$event.stopPropagation()"
            [matMenuTriggerFor]="menu"
            mat-icon-button
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu>
            <a
              mat-menu-item
              href="{{ element.name }}"
              (click)="openFeedback($event, element.id)"
            >
              Open
            </a>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="openFeedback($event, row.id)"
      ></tr>
    </table>
    <mat-paginator
      class="mat-elevation-z8"
      [pageSizeOptions]="[10, 25, 50, 100]"
      showFirstLastButtons="true"
    ></mat-paginator>
  </div>
</div>
<app-no-data *ngIf="dataSource?.data?.length < 1"></app-no-data>
