<mat-card>
  <mat-card-title>{{ 'name.images' | translate }}</mat-card-title>
  <mat-card-subtitle *ngIf="(task | async)?.testType === TestTypeEnum.Split">
    {{ 'name.prototype1' | translate }}
  </mat-card-subtitle>
  <mat-card-content>
    <!--Prototype 1-->
    <p class="text-note">
      <ng-container
        *ngIf="(task | async)?.testType === TestTypeEnum.Basic; else splitImageUploadNote"
      >
        {{ 'note.basicImageUpload' | translate }}
      </ng-container>
      <ng-template #splitImageUploadNote>
        {{ 'note.splitImageUpload1' | translate }}
      </ng-template>
    </p>
    <ng-container
      *ngTemplateOutlet="
        imageUploadViewer;
        context: { data: { splitNumber: 1 } }
      "
    ></ng-container>

    <!--Prototype 2-->
    <ng-container *ngIf="(task | async)?.testType === TestTypeEnum.Split">
      <mat-divider inset></mat-divider>
      <mat-card-title class="mt-15">{{
        'name.images' | translate
      }}</mat-card-title>
      <mat-card-subtitle>{{ 'name.prototype2' | translate }}</mat-card-subtitle>

      <p class="text-note">
        {{ 'note.splitImageUpload2' | translate }}
      </p>

      <ng-container
        *ngTemplateOutlet="
          imageUploadViewer;
          context: { data: { splitNumber: 2 } }
        "
      ></ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>

<!-- Image uploader and Viewer-->
<ng-template #imageUploadViewer let-data="data">
  <app-image-upload
      *ngIf="(task | async).status === TaskStatusEnum.Draft"
    [uniqueId]="data.splitNumber"
    (completeEvent)="findAllImages(data.splitNumber)"
    [taskId]="(task | async)?.id"
  ></app-image-upload>

  <app-image-viewer
      [readonly]="(task | async).status !== TaskStatusEnum.Draft"
      [images]="(images.get(data.splitNumber) | async) || []"
      (deleteEvent)="deleteImage($event, data.splitNumber)"
  >
  </app-image-viewer>
</ng-template>
