<mat-card>
  <mat-card-content>
    <!--Question Row-->
    <div fxLayout>
      <div fxFlex="75%">
        <div class="field-label field-name">
          {{ 'name.question' | translate }}
        </div>
        <div>
          <span
            ><strong>Q{{ questionStats?.question?.order }}: </strong
            >{{ questionStats?.question?.description }}</span
          >
        </div>
      </div>
      <div fxFlex="25%">
        <div class="field-label field-name">
          {{ 'name.questionType' | translate }}
        </div>
        <div>
          <span>{{
            'questionType.' + questionStats?.question?.type | translate
          }}</span>
        </div>
      </div>
    </div>
    <!--Pie Chart-->
    <div>
      <ngx-charts-pie-chart
        [view]="view"
        [results]="chartData"
        [gradient]="gradient"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
      >
      </ngx-charts-pie-chart>
    </div>
  </mat-card-content>
</mat-card>
