<h2 mat-dialog-title>Task Feedback</h2>
<mat-dialog-content class="mat-typography">
  <!-- Feedback Provider -->
  <div>
    <div class="field-label field-name">
      {{ 'name.feedbackProvider' | translate }}
    </div>
    <div>
      <span>{{ user?.firstName + ' ' + user?.lastName }}</span>
    </div>
  </div>

  <p class="text-note mt-30">
    Please see the answer for your Questions below.
  </p>

  <div class="mt-20 mb-30">
    <app-questionnaire-answer
        [task]="task"
        [readonly]="true"
        [feedback]="feedback"
    >
    </app-questionnaire-answer>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-dialog-close mat-button>Close</button>
</mat-dialog-actions>