<div class="page-content">
  <h1>Welcome to Crowd-Based Prototype Validation Platform</h1>

  <ng-container
    *ngIf="
      [RolesEnum.Crowdworker, RolesEnum.Developer] | hasRoles | async;
      else singleRole
    "
  >
    <p>
      You have <strong>Developer</strong> and
      <strong>Crowdworker</strong> roles.
    </p>

    <ul>
      <li class="list-item">
        You can create Prototypes as a Developer to get feedback on them.
      </li>
      <li class="list-item">
        You can also give feedback on other Prototypes as a Crowdworker.
      </li>
    </ul>

    <p [innerHTML]="'note.createPrototypes' | translate"></p>
    <p [innerHTML]="'note.giveFeedback' | translate" ></p>
    <p [innerHTML]="'note.viewFeedbacks' | translate"></p>
  </ng-container>

  <ng-template #singleRole>
    <ng-container *ngIf="[RolesEnum.Developer] | hasRoles | async">
      <p>You have <strong>Developer</strong> role.</p>

      <ul>
        <li class="list-item">
          You can create Prototypes as a Developer to get feedback on them.
        </li>
      </ul>

      <p [innerHTML]="'note.createPrototypes' | translate"></p>
    </ng-container>

    <ng-container *ngIf="[RolesEnum.Crowdworker] | hasRoles | async">
      <p>You have <strong>Crowdworker</strong> role.</p>

      <ul>
        <li class="list-item">
          You can give feedback on other Prototypes as a Crowdworker.
        </li>
      </ul>
      <p [innerHTML]="'note.giveFeedback' | translate" ></p>
      <p [innerHTML]="'note.viewFeedbacks' | translate"></p>
    </ng-container>
  </ng-template>
</div>
