<h2 mat-dialog-title>{{ 'action.editQuestionnaire' | translate }}</h2>
<mat-dialog-content class="mat-typography">
  <p class="text-note">{{ 'note.askQuestions' | translate }}</p>

  <ng-container *ngFor="let form of formGroups; let i = index">
    <div class="form-container">
      <div fxLayout>
        <h3>Question No. {{ i + 1 }}</h3>
        <mat-icon class="margin-left-auto clickable" (click)="deleteQuestion(i)"
          >clear</mat-icon
        >
      </div>
      <div class="text-note mb-10">
        {{'note.enterQuestion' | translate}}
      </div>
      <form [formGroup]="form">
        <div fxLayout fxLayoutGap="10px">
          <!--Question-->
          <mat-form-field class="full-width" fxFlex="75%" appearance="fill">
            <mat-label>{{ 'name.question' | translate }}</mat-label>
            <textarea formControlName="question" matInput></textarea>
            <mat-error *ngIf="form.controls.question.hasError('required')">
              {{ 'error.required' | translate }}
            </mat-error>
          </mat-form-field>
          <!--Question type-->
          <mat-form-field appearance="fill" fxFlex="25%">
            <mat-label>{{'name.answerType' | translate}}</mat-label>
            <mat-select formControlName="type" (selectionChange)="typeChanged($event, i)">
              <mat-select-trigger>{{
                'questionType.' + form.controls.type.value | translate
              }}</mat-select-trigger>
              <mat-option
                *ngFor="let key of ObjectKeys(QuestionTypeEnum)"
                [value]="QuestionTypeEnum[key]"
              >
                {{ 'questionType.' + QuestionTypeEnum[key] | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.type.hasError('required')">
              {{ 'error.required' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <!--Radio Options -->
        <mat-form-field
          class="full-width mb-30"
          appearance="fill"
          *ngIf="form.controls.type.value === QuestionTypeEnum.Radio"
        >
          <mat-label>Radio button options</mat-label>
          <mat-chip-list #chipList formControlName="radioOptions">
            <mat-chip
              *ngFor="let option of getSelectedOptions(form.controls.radioOptions)"
              (removed)="removeRadioOption(option, form.controls.radioOptions)"
            >
              {{ option }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input
              placeholder="New Radio Option..."
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="
                addRadioOption($event, form.controls.radioOptions)
              "
            />
          </mat-chip-list>
          <mat-error *ngIf="form.controls.radioOptions.hasError('required')">
            {{ 'error.required' | translate }}
          </mat-error>
          <mat-hint
            >{{'note.radioOptionsHint' | translate}}</mat-hint
          >
        </mat-form-field>
      </form>
    </div>
  </ng-container>
  <button
    class="mb-20"
    mat-button
    (click)="addQuestion()"
    [disabled]="formGroups[formGroups.length - 1]?.invalid"
  >
    <span fxLayout fxLayoutAlign="center center">
      <mat-icon>add</mat-icon>
      {{ 'action.add' | translate }}
    </span>
  </button>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-dialog-close mat-button>Cancel</button>
  <button mat-button color="black" (click)="saveQuestionnaire()">Save</button>
</mat-dialog-actions>
