table {
  margin-top: 20px;
  width: 100%;
}

.mat-cell {
  cursor: pointer;
}

.comment-column {
  max-width: 450px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 1600px) {
  .manager-comment-column {
    max-width: 200px;
  }
}
