<div class="page-content">
  <h1>Welcome to Crowd-Based Prototype Validation Platform</h1>

  <div fxLayout fxLayoutGap="20px" fxLayoutAlign="start start">
    <div fxFlex="55%">
      <ng-container
          *ngIf="
        [RolesEnum.Crowdworker, RolesEnum.Developer] | hasRoles | async;
        else singleRole
      "
      >
        <p>
          You have <strong>Developer</strong> and
          <strong>Crowd-Worker</strong> roles.
        </p>

        <ul>
          <li class="list-item">
            You can create Prototypes as a Developer to get feedback on them.
          </li>
          <li class="list-item">
            You can also give feedback on other Prototypes as a Crowdworker.
          </li>
        </ul>

        <p [innerHTML]="'note.createPrototypes' | translate"></p>
        <p [innerHTML]="'note.giveFeedback' | translate"></p>
        <p [innerHTML]="'note.viewFeedbacks' | translate"></p>
      </ng-container>

      <ng-template #singleRole>
        <ng-container *ngIf="[RolesEnum.Developer] | hasRoles | async">
          <p>You have <strong>Developer</strong> role.</p>

          <ul>
            <li class="list-item">
              You can create Prototypes as a Developer to get feedback on them.
            </li>
          </ul>

          <p [innerHTML]="'note.createPrototypes' | translate"></p>
        </ng-container>

        <ng-container *ngIf="[RolesEnum.Crowdworker] | hasRoles | async">
          <p>You have <strong>Crowd-Worker</strong> role.</p>

          <ul>
            <li class="list-item">
              You can give feedback on other Prototypes as a Crowdworker.
            </li>
          </ul>
          <p [innerHTML]="'note.giveFeedback' | translate"></p>
          <p [innerHTML]="'note.viewFeedbacks' | translate"></p>
        </ng-container>
      </ng-template>
      <!--Platform description-->
      <hr >
      <div class="mt-20">
        <p>
          On this platform, developers can present their application ideas as a prototype and crowd-workers evaluate those prototypes. The evaluation results are
          presented to developers and crowd-workers receive incentives from them.
        </p>
        <p *ngIf="[RolesEnum.Developer] | hasRoles | async;">
          As a <strong>Developer</strong> you start by creating a <em>Project</em>. A Project is created for each application idea for which you want to have feedback on
          its prototype. A Project contains <em>Tasks</em> and each Task is an iteration for the Prototype. Inside a Task, you can add your prototype for evaluation.
          To do that, you start new iteration by by providing basic Task details such as <em>Title</em> and <em>Description</em>. This title and description will also
          be shown to crowd-works when they will evaluate your prototype so you can provide any relevant details for them in the description field. When starting a new
          iteration you also need to select <em>Prototype Format</em>. Currently, three prototype formats are supported i.e Image, Link to the Prototype, or Textual description
          of application idea. Then you need to select the <em>Test Type</em> for the evaluation i.e either <em>Basic Test</em> or <em>Comparison Test</em>. In a basic test, a
          single prototype is evaluated, whereas in a comparison test two prototypes of the same Application are evaluated with a comparison. Then you also need to specify
          <em>Crowd Matching Criteria</em> which is a filter for crowd-workers and restricts the prototype to be evaluated by only those crowd-workers who meet these criteria.
          At this point you also specify <em>Incentive</em> and total budget for this Task iteration. With all of this detail you can create a Task and the Task will be created in
          <em>Draft</em> state by default. A Task in the draft state is not visible to crowd-workers. After that, you need to add your prototype to the Task in the selected format, and add a
          <em>Questionnaire</em>. In this questionnaire add all the questions about the prototype. This questionnaire along with the task title, description, and prototype
          will be presented to crowd-workers when they evaluate your prototype. Finally after entering all the data and providing the required information you
          can <em>Activate</em> the Task. Once activated, the Task can no longer be edited and it will be immediately available for crowd-works to
          provide feedback. You can see the individual feedback and aggregated feedback once the feedback is provided by crowd-workers. After that, you can close the
          Task iteration and start a new iteration which will also follow the same flow as explained above.
        </p>

        <p *ngIf="[RolesEnum.Crowdworker] | hasRoles | async;">
          As a <strong>Crowd-Worker</strong> you can <em>Evaluate</em> prototypes. The prototypes which you can evaluate are shown as <em>Open Tasks</em>.
          Only those Tasks are shown to you for which your profile matches the specified criteria by the developer (Task owner). If you cannot see open Tasks then this could be
          due to two reasons. Either there is no open Task, or otherwise, your profile does not match any Task's evaluation criteria. You can also filter the Tasks in the Task list e.g by skills, country, prototype format, test type, task name, etc. To evaluate a prototype you can open the Task and there you can see all relevant Task details and the
          prototype. To provide feedback you need to answer questions in the <em>Questionnaire</em> for that Task. There you can also provide additional feedback or comment related
          to the prototype. Once submitted, the feedback cannot be edited anymore and will be available to developers. You can also see all of your provided feedbacks.
        </p>

      </div>
    </div>
    <!--Platform design/component diagram-->
    <img fxFlex="45%" src="assets/images/platform.svg" />
  </div>

  <!--Background image-->
</div>
