@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'src/variables';

body {
  margin: 0 !important;
}
.clickable {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.float-right {
  float: right;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-right-auto {
  margin-right: auto !important;
}

.mat-raised-button.mat-black {
  background-color: black;
  color: white;
}

.mat-button.mat-black {
  background-color: black;
  color: white;
}

.page-content {
  padding: 1%;
  height: calc(100vh - #{$app-toolbar-height} - 28px) !important;
  overflow: auto;
}

.centered {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.second-sidenav-container {
  min-height: calc(100vh - #{$app-toolbar-height});
}

.second-sidenav {
  width: 200px;
  align-items: center;
  color: #000016;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: $app-grey-white !important;
  box-shadow: 12px 0 12px $app-grey-shadow;
  border-right: none !important;
}

.second-sidenav-options {
  padding: 5px 0 5px 0px;
  font-style: normal;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.second-sidenav__selected {
  background-color: #a8d7fd !important;
  font-weight: bolder;
}

.second-sidenav-options:hover {
  background: #ffffff ;
}

.second-sidenav-icon {
  padding-left: 8px;
  padding-right: 10px;
}


.text-note {
  color: rgba(0, 0, 0, 0.54);
}
.field-label {
  color: #878787;
}

.mb-30 {
  margin-bottom: 30px;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}

.disabled-element {
  pointer-events: none;
  opacity: 0.4;
}

.inline-heading {
  margin-block-start: unset;
  margin-block-end: unset;
}
