<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="40px">
  <span class="text-note">
    These are sample Prototypes created with
    <a href="https://www.figma.com/" target="_blank">Figma</a> and embedded as
    Iframe.</span
  >

  <iframe
    style="border: 1px solid rgba(0, 0, 0, 0.1)"
    width="800"
    height="450"
    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FjhLIgli8PxK5pCHYmypggV%2FMy-awesome-mobile-app%3Fnode-id%3D1%253A2%26starting-point-node-id%3D1%253A2%26scaling%3Dscale-down"
    allowfullscreen
  ></iframe>

  <iframe
    style="border: 1px solid rgba(0, 0, 0, 0.1)"
    width="800"
    height="450"
    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FtzBzc8QWzLZewxhbmw0uAY%2FProject%253A-Lazzem%3Fnode-id%3D11%253A0%26starting-point-node-id%3D5%253A2%26scaling%3Dscale-down"
    allowfullscreen
  ></iframe>
</div>
