<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography">
  <p class="text-note">{{note}}</p>

  <form [formGroup]="form">
      <!--Star rating-->
    <div class="mb-20">
      <ngx-material-rating
          [color]="'primary'"
          [(ngModel)]="rating"
          [max]="5"
          [ngModelOptions]="{ standalone: true }"
      >
      </ngx-material-rating>
      <mat-error *ngIf="form.touched && !rating">
        {{ 'error.required' | translate }}
      </mat-error>
    </div>

    <!--Rating comment -->
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{'name.comment' | translate}}</mat-label>
      <textarea formControlName="ratingComment" matInput>
      </textarea>
      <mat-hint>Optional feedback</mat-hint>
    </mat-form-field>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-dialog-close mat-button>{{'action.cancel' | translate}}</button>
  <button mat-button color="black" (click)="save()">{{'action.save' | translate}}</button>
</mat-dialog-actions>