<ng-container *ngIf="task | async as taskObj">
  <div class="page-content">
    <mat-card>
      <mat-card-title>{{ taskObj.title }}</mat-card-title>
      <mat-card-content>
        <div class="field-container" fxLayout>
          <!--Description-->
          <div fxFlex="60%">
            <div class="field-label field-name">
              {{ 'name.description' | translate }}
            </div>
            <div>
              <span>{{ taskObj.description }}</span>
            </div>
          </div>
          <!--Status-->
          <div fxFlex="20%">
            <div class="field-label field-name">
              {{ 'name.status' | translate }}
            </div>
            <div>
              <span>{{ 'name.' + taskObj.status | translate }}</span>
            </div>
          </div>

          <!--Creation Date -->
          <div fxFlex="20%">
            <div class="field-label field-name">
              {{ 'name.dateCreated' | translate }}
            </div>
            <div>
              <span>{{ taskObj.dateCreated | date: 'dd.MM.y HH:mm:ss' }}</span>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="mt-30">
      <!--Image Prototype-->
      <app-image-prototype
          *ngIf="taskObj.prototypeFormat === PrototypeFormatEnum.Image
            "
          [task]="task"
          [readonly]="true"
      >
      </app-image-prototype>
      <!--Iframe Prototype-->
      <app-iframe-prototype
          *ngIf="taskObj.prototypeFormat === PrototypeFormatEnum.Iframe
            "
          [task]="task"
          [readonly]="true"
      >
      </app-iframe-prototype>
      <!--Text Prototype-->
      <app-text-prototype
          *ngIf="taskObj.prototypeFormat === PrototypeFormatEnum.Text"
          [task]="task"
          [readonly]="true"
      >
      </app-text-prototype>
    </div>

  </div>
</ng-container>